<div class="mx-auto text-center">
<% if notice %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif alert %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>
</div>
<div class="card-list-container py-5">
  <%= form_with model: [:admin, @item], local:true do |f| %>
  <div class="contents-title text-center py-3 pb-4">
    <h2 class="text-black-50 font-weight-lighter">新規商品登録</h2>
  </div>
  <div class="card w-50  mx-auto mt-3 shadow p-2 mb-5">
    <div class="col-12 py-3">
      <div class="imput-block">
        <%= f.label :image, "商品画像" %></br>
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="imput-block">
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="input-block textarea">
        <%= f.label :explanation, "商品説明" %>
        <%= f.text_area :explanation, class:"form-control" %>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="input-block">
        <%= f.label :genre_id, "ジャンル" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, class:"form-select form-select-lg mb-3" %>
      </div>
    </div>
    <div class="col-4 py-3">
      <div class="input-block">
        <%= f.label :price, "税抜き価格(数字のみ)" %>
        <%= f.text_field :price, class:"form-control" %>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="input-block">
        <%= f.label :is_active, "販売ステータス" %></br>
        <%= f.label :is_active, "販売中", {value: :true} %>
        <%= f.radio_button :is_active, true %><br />
        <%= f.label :is_active, "販売停止中", {value: :false} %>
        <%= f.radio_button :is_active, false %>
        </div>
      </div>
      <div class="col-10 mx-auto">
        <%= f.submit '新規登録', class:"btn btn-success btn-block py-2 m-3" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
