<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-6 shadow p-2">
    <%= image_tag @item.image, size: "auto" %>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h4 class="card-title"><%= @item.name %></h4>
          <p class="card-text"><%= @item.explanation %></p>
          <span>ジャンル：<%= @item.genre.name %></span>
          <div class="pt-3">
            <p class="pb-2"><%= @item.price %>円</p>
          </div>
          <div>
              <% if @item.is_active == true %>
                <% status = "販売中" %>
              <% else %>
                <% status = "販売停止中" %>
              <% end %>
            <p class="pb-2"><%= status %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-11 mx-auto py-2">
      <%= link_to "商品を編集する", edit_admin_item_path(@item), class:"btn btn-success btn-block my-3" %>
    </div>
  </div>
</div>