<div class="mx-auto text-center">
<% if notice %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif alert %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>
</div>
<div class="card-list-container py-5">
  <%= form_with model: @order, url: check_path, local:true do |f| %>
  <div class="contents-title text-center py-3 pb-4">
    <h2 class="text-black-50 font-weight-lighter">注文情報入力</h2>
  </div>
  <div class="card w-50  mx-auto mt-3 shadow p-2 mb-5">
    <div class="col-12 py-3">
      <div class="imput-block">
        <h5>支払い方法</h5>
        <%= f.radio_button :payment_method, :クレジットカード %>
        <%= f.label :payment_method, "クレジットカード", {value: :"0"} %><br />
        <%= f.radio_button :payment_method, :銀行振込 %>
        <%= f.label :payment_method, "銀行振込", {value: :"1"} %>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="imput-block">
        <h5 class="py-3">お届け先</h5>
        <div class="mb-3">
          <%= f.radio_button :address_option, "0", checked: true %>ご自身の住所<br />
        </div>
        〒<%= @customer.postal_code %><%= @customer.address %><br />
        <%= @customer.last_name %>　<%= @customer.first_name %></p>
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="input-block">
        <div class="mb-3">
          <%= f.radio_button :address_option, "1" %>新しいお届け先<br />
        </div>
        郵便番号<%= f.text_field :postal_code, class:"form-control col-4" %><br />
        住所<%= f.text_field :address, class:"form-control col-10" %><br />
        宛名<%= f.text_field :name, class:"form-control col-5" %><br/>
      </div>
    </div>
    <div class="col-10 mx-auto">
      <%= f.submit "確認へ進む", class:"btn btn-success btn-block py-2 m-3" %>
    </div>
  </div>
  <% end %>
</div>
