<div class="mx-auto text-center">
<% if notice %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif alert %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>
</div>
<div class="container">
  <h1 class="text-center text-black-50 font-weight-lighter py-2 mt-5">
    <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報
  </h1>
  <div class="col-8 mx-auto py-5">
    <div class="row">
      <table class="table borderd-table">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td>〒<%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <% if @customer.is_deleted == false %>
            <td>無効</td>
            <% else %>
            <td>有効</td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div class="col-8 mx-auto text-center my-3">
        <%= link_to "編集する", edit_admin_customer_path(@customer), class:"btn btn-success btn-block py-2" %>
      </div>
    </div>
  </div>
</div>