<div class="texts-wrapper">
  <div class="contents-title text-center py-4 pb-4">
    <h1 class="text-black-50 font-weight-lighter">Items</h1>
  </div>
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
      <div class="col-12 col-md-2 col-lg-4">
        <%= link_to item_path(item) do %>
        <div class="card shadow p-3 mb-5 bg-light col-lg-12">
            <%= image_tag item.image, size: "auto" %>
          <div class="card-body col-md-12">
            <span><%= item.name %></span><br />
            <span>￥<%= item.price %></span>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="next-items"><%= paginate @items %></div>