<div class="container">
  <h1>ジャンル編集</h1>
  <% if flash[:notice] %>
    <%= notice %>
  <% else flash[:alert] %>
    <%= alert %>
  <% end %>
  <%= form_with model:[:admin, @genre], local:true do |f| %>
    <div class="row">
      <%= f.label :name,"ジャンル名" %>
      <%= f.text_field :name %>
      <%= f.submit '変更を保存' %>
    </div>
  <% end %>
</div>