<div class="container">
  <h1>ジャンル投稿</h1>
    <%= form_with model: [:admin, @genre], local:true do |f| %>
      <div class="row">
        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name %>
        <%= f.submit '新規登録' %>
      </div>
    <% end %>
      <% @genres.each do |genre| %>
        <div class="row">
          <%= genre.name %>
          <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
        </div>
      <% end %>
</div>