<div class="container">
  <div class="row">
    <h1>新規会員登録</h1>
  </div>
  <div class="row">
    <%= form_with model:@customer,url: customer_registration_path, local:true do |f| %>
    <%= render "customer/customers/shared/error_messages", resource: resource %>
      <%= f.label "名前" %>
      <span>姓</span>
      <%= f.text_field :last_name %>
      <span>名</span>
      <%= f.text_field :first_name %><br />

      <%= f.label "フリガナ" %>
      <span>セイ</span>
      <%= f.text_field :kana_last_name %>
      <span>メイ</span>
      <%= f.text_field :kana_first_name %><br />
      <%= f.label "メールアドレス" %>
      <%= f.text_field :email, autofocus: true %><br />
      <%= f.label "郵便番号(ハイフンなし)" %>
      <%= f.text_field :postal_code %><br />
      <%= f.label "住所" %>
      <%= f.text_field :address %><br />
      <%= f.label "電話番号(ハイフンなし)" %>
      <%= f.text_field :phone_number %><br />
      <%= f.label "パスワード（６文字以上）" %>
      <%= f.password_field :password %><br />
      <%= f.label "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation %><br />
      <%= f.submit "新規登録" %>
      <% end %>
  </div>
  <div class="row">
    <p>会員登録済みの方は</p><br />
    <%= link_to 'こちら', new_customer_session_path %>
      <p>からログイン</p>
    </%>
  </div>
</div>