<div class="card-list-container py-5">
<%= form_with model:@customer,url: customer_registration_path, local:true do |f| %>
<%= render "customer/customers/shared/error_messages", resource: resource %>
  <div class="contents-title text-center py-3 pb-4">
    <h2 class="text-black-50 font-weight-lighter">SIGN UP</h2>
  </div>
  <div class="card col-7 mx-auto mt-3 shadow p-2 mb-5">
    <div class="row pl-5">
      <div class="col-5 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "姓" %>
          <%= f.text_field :last_name, class:"form-control" %>
        </div>
      </div>
      <div class="col-5 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "名" %>
          <%= f.text_field :first_name, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row pl-5">
      <div class="col-5 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "セイ" %>
          <%= f.text_field :kana_last_name, class:"form-control" %>
        </div>
      </div>
      <div class="col-5 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "メイ" %>
          <%= f.text_field :kana_first_name, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row pl-5">
      <div class="col-5 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "郵便番号" %>
          <%= f.text_field :postal_code, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row pl-5">
      <div class="col-8 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "住所" %>
          <%= f.text_field :address, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row pl-5">
      <div class="col-5 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "電話番号" %>
          <%= f.text_field :phone_number, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row pl-5">
      <div class="col-8 py-3 pl-5">
        <div class="imput-block">
          <%= f.label "メールアドレス" %>
          <%= f.text_field :email, class:"form-control" %>
        </div>
      </div>
      <div class="row pl-5">
        <div class="col-5 py-3 pl-5">
          <%= f.label "パスワード(6文字以上)" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>
      </div>
      <div class="row pl-5">
        <div class="col-5 py-3 pl-5">
          <%= f.label "パスワード(確認用)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>
      </div>
    </div>
      <div class="col-10 mx-auto">
        <%= f.submit '変更を保存する', class:"btn btn-success btn-block py-2 m-3" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="col-6 mx-auto">
  <p>会員登録済みの方は<%= link_to "こちら", new_customer_session_path %>から</p>
</div>